<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">
	<display-name>blobstore</display-name>
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>de.bwl.bwfla.blobstore.rest.BlobStore</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>de.bwl.bwfla.blobstore.rest.JacksonConfig</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
