*.log
*.out
*.class
*.swp
*.swo
*.properties
.metadata
.settings
.classpath
.project
*.iml
.idea/*
src/.idea/*
*.ear

build/
target/
ext/database/bwfla
ext/appserver/standalone/configuration/standalone_xml_history/
ext/appserver/standalone/configuration/logging.properties
ext/appserver/standalone/deployments/*.ear*
ext/appserver/standalone/log/
ext/appserver/standalone/data/
ext/appserver/standalone/tmp/

src/eaas/src/main/resources/bladeclusterplugin.xml
src/eaas/src/main/resources/googlecloudplugin.xml
src/eaas/src/main/resources/eaas.xml
src/.m2
src/\?
